.App {
  text-align: center;
}

.none{
  display: none;
}

.cardBody{
  width: 9rem;
  height: 15rem;

  border: 1px solid darkgray;
  border-radius: 12px;

  background-color: #eaebe6;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.cardImageFlipped{
  width: 90%;
  height: 90%;

  border-radius: 12px;

  display: flex;
  align-self: center;
}

.rotateMe:hover{
  transition-property: all;
  transition-duration: 500ms;
  transition-delay: 0ms;

  transform: rotateY(0deg);
}

.rotateMeBack{
  transition-property: all;
  transition-duration: 750ms;
  transition-delay: 0ms;

  transform: rotateY(180deg);
}

.sideBoard{
  width: 80%;
  height: 17rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
